.container {
  background-color: #333;
  color: white;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  margin-bottom: 20px;
}
