.todo {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}
.todo:hover {
  background-color: #111;
}
.todo button {
  background-color: transparent;
  color: red;
  margin-top: 10px;
  border: none;
}
